# Supply the AIR SDK Path or defaults to AIR_HOME 
# air.sdk=/path/to/air/sdk 

github.repo=distriqt/as3-crypto

project.id=as3crypto
project.name=ActionScript 3 Cryptography Library
project.description=A cryptography library written in ActionScript 3 that provides several common algorithms.
project.src=src
output.build=bin
output.docs=docs